*{
    font-family: 'Montserrat',sans-serif;
}

body{
    background-color: #252525;
    color: #fff;
}

.primary-bg-color{
    background-color: #252525;
}

.secondary-bg-color{
    background-color: #c09578;
}

.light-bg-color{
    background-color: #fcf5eb;
}

.dark-bg-color{
    background-color: #101010;
}

/* CORES DE TEXTO */

.primary-color{
    color: #c09578;
}

.secondary-color{
    color: #626262;
}

.light-color{
    color: #fcf5eb;  
}

/* NAVBAR */

.nav-item{
    position: relative;
}

.nav-item i{
    font-size: 1.2em;
}

.nav-item a{
    margin-left: 2em;
    
}

.nav-item .badge{
    position: absolute;
    top: .9px;
    left: -8px;
    border-radius: 50%;
    font-size: .6rem;
}

#search-form{
    border: 2px solid #626262;
    border-radius: 3px;
    padding:5px 15px;
}

#search-form input{
    background-color: transparent;
    border: none;
    color: #fff;
}

#search-form input:focus{
    box-shadow: none;
}

#search-form input::placeholder{
    color: #fff;
}

@media(max-width:534px){
    .navbar-brand{
        width: 100%;
        text-align: center;
    } 
}

@media(max-width:775px){
    .navbar-brand{
        text-align: center;
        order: 1;
    } 

    .navbar-nav{
        order: 2;
    } 
     
   #top-navbar li:first-child a{
         margin-left: 0px;
    } 

    #search-form{
        order: 3;
        width: 80%;
        padding: 5px 5px;
    } 


}

/* NAVBAR INFERIOR */

#bottom-navbar-container .container{
    justify-content: flex-end;
}

#bottom-navbar-container  a{
    font-weight: 600;
    color: #fff;
}

.navbar-toggler{
    font-size: 1.5em;
}

#bottom-navbar{
    justify-content: center;
}

/* BANNERS */

.container-fluid{
    padding: 0;
}

.carousel-item,
.carousel-item .img-fluid{
    height: 80vh;
}

.carousel-item .img-fluid{
    object-fit: cover;
}

.carousel-caption{
    bottom: .3em;
    padding: 1em;
    left: 28%;
    right:28%;
}

.carousel-caption h5{
    font-size: 1.8em;
}

@media(min-width:768px){

    .carousel-caption{
        left: 26%;
        right: 26%;
        bottom: 3.4em;
    }
    
    .carousel-item,
    .carousel-item .img-fluid{
        height: 50vh;
    }

}

@media(max-width:375px){

    .carousel-caption{
        left: 15%;
        right: 15%;
        bottom: 3.4em;
    }

}



/* MINI BANNERS */
#mini-banners{
    top: -3px;
    z-index: 10;
}

#mini-banners .col-12{
    z-index: 1;
    height: 18em;
    padding:1.5em;
    /* top: -27px; */
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mini-banners .col-12 h2{
    text-transform: uppercase;
    max-width: 50px;
    font-size: 2.2em;
    font-weight: 700px;
    line-height:1em;
}

#mini-banners .col-12 img{
    height: 220px;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#mini-banners .col-12 a{
    font-weight: bold;
    color: #fff;
    font-size: .8em;
    transition: .5s;
}

#mini-banners .col-12 a:hover{
    color: #101010;
}

#mini-banners #mini-banner-1 a:hover,
#mini-banners #mini-banner-3 a:hover{
    color: #c09578;
}

#mini-banners #mini-banner-3 a{
    color: #101010;
}


@media(min-width:768px){

    .container{
        max-width: 90%;
    }

    #mini-banners .col-12{
      height: 15em;
      max-width: 30%;
      top: -27px;
    } 

    #mini-banners .col-12 img{
        height: 64%;
        position: absolute;
        right:.5em;
        bottom: 1em;
    }
    
    #mini-banners .col-12 h2{
       font-size: 1.5em;
    }
}

@media(min-width:858px){
    #mini-banners .col-12 img{
        height: 70%;
    }
} 

@media(min-width:877px){
    #mini-banners .col-12 img{
        height:75%;
    }
} 

@media(min-width:998px){
    #mini-banners .col-12 img{
        height: 89%;
    }
} 