/* Grid */
.container{
    border:5px dotted blue;
    padding: 10px;
    margin-bottom: 300px;
}

.row{
    border:5px solid purple;
    height: 100px;
    padding: 10px;
    margin: 0;
}

.col{
    border:2px dashed red;
    height: 100%;
    margin: 0;
}

    /* TAMANHO DAS COLUNAS */

.col,
.col-4,
.col-2,
.col-1,
.col-11{
    border:2px dashed red;
    height: 100%;
    margin: 0;
}

.container .row:nth-child(3){
    margin: 20px 0;
}

#largura-limitada{
    max-width: 500px;
}